body {
	font-family:verdana,arial;
	padding:20px;
}
.bd {
	text-align:center;
}
.container {
	margin:0 auto;
	width:248px;
}
.slot-wrapper {
	 border: 1px solid #000000;
}
.slot {
	background:url("images/roll-image.png") repeat-y; /*Taken from http://www.swish-designs.co.uk*/
	width:80px;
	height:80px;
	float:left;
	border:1px solid #000;
}
.motion {
	background:url("images/roll-image.png") repeat-y; /*Taken from http://www.swish-designs.co.uk*/
}
button {
	display:block;
	width:138px;
	height:33px;
	margin:20px 60px;
	font-size:16px;
	cursor:pointer;
}
#result {
	margin:20px 0;
	font-size:18px;
	font-weight:bold;
	height:22px;
}
.credits {
	font-size:15px;
	margin-top:20px;
}
.credits .browsers {
	font-style:italic;
	font-size:14px;
	color:#777;
	margin-top:4px;
}
.clear {
	clear:both;
}

/*
 * Coupon Style
 */
.coupon-list {
    background-color: pink;
    padding: 10px;
}
.coupon {
    display: inline-block;
    margin: 5px;
    background-color: orange;
    cursor: pointer;
}

.coupon-selected-true {
    background-color: yellow;

}

.coupon-image {
    width: 100px;
    height: 100px;
    background-color: red;
}
